* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.container {
  position: relative;
  /* min : 최소값*/
  min-width: 300px;
  min-height: 400px;
  background-color: #333;
  padding: 40px 30px 30px;
  border-radius: 20px;
  /* 순서대로 x-offset(오른쪽), y-offset(아래), blur, color 
  inset은 박스 안쪽에 그림자를 표현한다.*/
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.5),
    inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  position: relative;
  grid-column: span 4;
  height: 100px;
  left: 10px;
  /* width값을 계산하여 정해짐 */
  width: calc(100% - 25px);
  border: none;
  outline: none;
  background-color: #a7af7c;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 10px;
  font-size: 2rem;
}

.calculator span {
  position: relative;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  margin: 8px;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  color: #fff;
  /* 드래그 or 더블클릭으로 텍스트 선택을 막기 위해 none */
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
}

/* 버튼에 입체감을 주기 위해 작성 */
.calculator span::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  bottom: 10px;
  right: 10px;
  /* 그라데이션 효과 : 각도, 색상1, 색상2 */
  background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
  border-radius: 10px;
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1), 10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

/* 클릭 시 깜빡거림 */
.calculator span:active {
  filter: brightness(1.5);
}

.calculator span i {
  position: relative;
  /* 글자 모양 : 보통 모양 */
  font-style: normal;
  font-size: 1.5rem;
  /* 전부 대문자로 변경 */
  text-transform: uppercase;
}

.calculator .clear {
  grid-column: span 2;
  width: 180px;
  background: #f00;
}

/* clear 버튼 배경색 */
.calculator .clear::before {
  background: linear-gradient(90deg, #d20000, #ffffff5c);
  border-left: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  border-top: 1px solid #fff4;
}

.calculator .plus {
  grid-row: span 2;
  height: 180px;
}

.calculator .equal {
  background: #2196f3;
}

/* equal 버튼 배경색 */
.calculator .equal::before {
  background: linear-gradient(90deg, #1479c9, #ffffff5c);
  border-left: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  border-top: 1px solid #fff4;
}
